<ngx-spinner></ngx-spinner>
<div class="container main-container">

    <div class="row text-center">
        
<div class="jumbotron">
    <h1 class="display-4">Felipe Henrique Freire!</h1>
    <p class="lead"> </p>
    
    <hr class="my-4">
    <p>Programador com Bacharel em sistemas de informação. Profissional com atuação em atividades
        voltadas ao desenvolvimento software web e mobile desde o ano 2010.
        Sou auto gerenciável, sempre buscando aperfeiçoamento e o conhecimento de novas tecnologias e
        métodos com foco em todo ciclo de vida do processo de desenvolvimento de softwares.
        Gosto de trabalhar e aprender novas tecnologias, sempre aplicando boas práticas, conhecimentos
        em arquitetura e design de softwares.
        Além de ajudar e apoiar outros desenvolvedores com menor experiência.</p>
    <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="pt_BR" data-type="vertical" data-theme="dark" data-vanity="felipe-freire-ab458a8b"><a class="LI-simple-link" target="_blank" href='https://br.linkedin.com/in/felipe-freire-ab458a8b?trk=profile-badge'>Felipe Freire</a></div>
  </div>
</div>
</div>

